<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baby Name Generator</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <h1 class="header__title">
            Baby Name Generator
        </h1>
    </header>
    
    <div class="intro">
        <p class="intro__para">
            
            INTRO HERE
            
        </p>
    </div>
    
    <div class="main">
        
        <div class="results">
            
            <ul class="results__list">
               
               
                <% if (names.length > 1) { %>
                    
                    <h3 class="results__heading" style="margin-bottom: 1em;">You searched for <%= names.length %> baby names</h3>

                    <% names.forEach(name => { %>
                    
                        <li class="results__item">Your baby&apos;s name is <%= name.name %> and your baby is from <%= name.region %>. 
                        
                            <% if (name.email) { %> 
                                Your baby&apos;s email address is <%= name.email %>
                            <% } %>
                            
                        </li>
                    
                    <% }) %>
                      
                <% }  else if (names) { %>
                  
                   <h3 class="results__heading" style="margin-bottom: 1em;">You searched for 1 baby name</h3>
                
                   <li class="results__item">Your baby&apos;s name is <%= names.name %> and your baby is from <%= names.region %>
                   
                       <% if (names.email) { %> 
                            Your baby&apos;s email address is <%= names.email %>
                       <% } %>
                   
                   </li>
                <% } %>
               
            </ul>
            
        </div>
        
        <a href="/" class="results__repeat">Search Again</a>
        
    </div>
    
    <footer class="footer">
        FOOTER HERE
    </footer>
</body>
</html>